*.avro
*.bak
*.class
*.env
*.html
*.json
*.list
*.log
*.out
*.parquet
*.pid
*.py[cdo]
*.sig
*.swp
.DS_Store
.coverage
/.BO
/.anaconda
/alias.bash
/context.bash
/log/
/out/
/tmp/
__pycache__/
coverage/
htmlcov/
